[Desktop Entry]
Name=Filesystem Lint
Comment=Clean up your filesystems
Comment[pl]=Sprzątanie systemów plików
Exec=fslint
Icon=/usr/share/fslint/fslint_icon.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GTK;GNOME;Utility;System;
